@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Metrophobic&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.metrophobic-regular {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}
